<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Adminwork {% block subtitle %}{% endblock %}</title>
		<meta name="description" content="description">
		<meta name="author" content="CrazyMG">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<script src="./../resources/js/jquery-1.11.1.min.js"></script>
		<script src="./../resources/js/jquery-ui-1.10.4.custom.min.js"></script>
		
		<!-- All functions for this theme + document.ready processing -->
		<script src="./../resources/js/devoops.js"></script>
		<script src="./../resources/js/bootstrap.js"></script>
		{% block script %}{% endblock %}
		
		
		<link href="./../resources/css/bootstrap.css" rel="stylesheet">
		<link href="./../resources/css/jquery-ui-1.10.4.custom.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../resources/css/font-awesome-4.1.0/css/font-awesome.css">
		<link href="./../resources/css/base.css" rel="stylesheet">
		{% block style %}{% endblock %}
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
				<script src="./../resources/js/IE/html5shiv.js"></script>
				<script src="./../resources/js/IE/respond.min.js"></script>
		<![endif]-->
	</head>
<body>
<!--Start Header-->
<div id="screensaver">
	<canvas id="canvas"></canvas>
	<i class="fa fa-lock" id="screen_unlock"></i>
</div>
<div id="modalbox">
	<div class="devoops-modal">
		<div class="devoops-modal-header">
			<div class="modal-header-name">
				<span>Basic table</span>
			</div>
			<div class="box-icons">
				<a class="close-link">
					<i class="fa fa-times"></i>
				</a>
			</div>
		</div>
		<div class="devoops-modal-inner">
		</div>
		<div class="devoops-modal-bottom">
		</div>
	</div>
</div>
<header class="navbar">
{% set routeName = app.router().getCurrentRoute().getName()|lower %}
	<div class="container-fluid expanded-panel">
		<div class="row">
			<div id="logo" class="col-xs-12 col-sm-2">
				<a href="{{ app.urlFor("HomePage") }}">Adminwork<img class="img-respo hidden-sm hidden-md" src="../resources/images/logo-turtle.png" /></a>
			</div>
			<div id="top-panel" class="col-xs-12 col-sm-10">
				<div class="row">
					<div class="col-xs-8 col-sm-4">
						<a href="#" class="show-sidebar">
						  <i class="fa fa-bars"></i>
						</a>
						<div id="search">
							<input type="text" placeholder="search"/>
							<i class="fa fa-search"></i>
						</div>
					</div>
					<div class="col-xs-4 col-sm-8 top-panel-right">
						<ul class="nav navbar-nav pull-right panel-menu">
							<li class="hidden-xs">
								<a href="#" class="modal-link">
									<i class="fa fa-bell"></i>
									<span class="badge">0</span>
								</a>
							</li>
							<li class="hidden-xs">
								<a class="ajax-link" href="#">
									<i class="fa fa-calendar"></i>
									<span class="badge">0</span>
								</a>
							</li>
							<li class="hidden-xs">
								<a href="#" class="ajax-link">
									<i class="fa fa-envelope"></i>
									<span class="badge">0</span>
								</a>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle account" data-toggle="dropdown">
									<div class="avatar">
										<img src="../resources/images/1403036396_administrator.png" class="img-rounded" alt="avatar" />
									</div>
									<i class="fa fa-angle-down pull-right"></i>
									<div class="user-mini pull-right">
										<span class="welcome">Welcome,</span>
										<span>{{ session.userFirstname }} {{ session.userLastname }}</span>
									</div>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="#">
											<i class="fa fa-user"></i>
											<span class="hidden-sm text">Profile</span>
										</a>
									</li>
									<li>
										<a href="#" class="ajax-link">
											<i class="fa fa-envelope"></i>
											<span class="hidden-sm text">Messages</span>
										</a>
									</li>
									<li>
										<a href="#" class="ajax-link">
											<i class="fa fa-picture-o"></i>
											<span class="hidden-sm text">Albums</span>
										</a>
									</li>
									<li>
										<a href="#" class="ajax-link">
											<i class="fa fa-tasks"></i>
											<span class="hidden-sm text">Tasks</span>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-cog"></i>
											<span class="hidden-sm text">Settings</span>
										</a>
									</li>
									<li>
										<a href="{{ app.urlFor("Logout") }}">
											<i class="fa fa-power-off"></i>
											<span class="hidden-sm text">Logout</span>
										</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!--End Header-->
<!--Start Container-->
<div id="main" class="container-fluid">
	<div class="row">
		<div id="sidebar-left" class="col-xs-2 col-sm-2">
			<ul class="nav main-menu">
				<li>
					<a href="#" class="active ajax-link">
						<i class="fa fa-dashboard"></i>
						<span class="hidden-xs">Dashboard</span>
					</a>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle">
						<i class="fa fa-bar-chart-o"></i>
						<span class="hidden-xs">Charts</span>
					</a>
					<ul class="dropdown-menu">
						<li><a class="ajax-link" href="#">xCharts</a></li>
						<li><a class="ajax-link" href="#">Flot Charts</a></li>
						<li><a class="ajax-link" href="#">Google Charts</a></li>
						<li><a class="ajax-link" href="#">Morris Charts</a></li>
						<li><a class="ajax-link" href="#">CoinDesk realtime</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle">
						<i class="fa fa-table"></i>
						 <span class="hidden-xs">Tables</span>
					</a>
					<ul class="dropdown-menu">
						<li><a class="ajax-link" href="#">Simple Tables</a></li>
						<li><a class="ajax-link" href="#">Data Tables</a></li>
						<li><a class="ajax-link" href="#">Beauty Tables</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle">
						<i class="fa fa-pencil-square-o"></i>
						 <span class="hidden-xs">Forms</span>
					</a>
					<ul class="dropdown-menu">
						<li><a class="ajax-link" href="#">Elements</a></li>
						<li><a class="ajax-link" href="#">Layouts</a></li>
						<li><a class="ajax-link" href="#">File Uploader</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle">
						<i class="fa fa-desktop"></i>
						 <span class="hidden-xs">UI Elements</span>
					</a>
					<ul class="dropdown-menu">
						<li><a class="ajax-link" href="#">Grid</a></li>
						<li><a class="ajax-link" href="#">Buttons</a></li>
						<li><a class="ajax-link" href="#">Progress Bars</a></li>
						<li><a class="ajax-link" href="#">Jquery UI</a></li>
						<li><a class="ajax-link" href="#">Icons</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle">
						<i class="fa fa-list"></i>
						 <span class="hidden-xs">Pages</span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#">Login</a></li>
						<li><a href="#">Register</a></li>
						<li><a id="locked-screen" class="submenu" href="#">Locked Screen</a></li>
						<li><a class="ajax-link" href="#">Contacts</a></li>
						<li><a class="ajax-link" href="#">Feed</a></li>
						<li><a class="ajax-link add-full" href="#">Messages</a></li>
						<li><a class="ajax-link" href="#">Pricing</a></li>
						<li><a class="ajax-link" href="#">Invoice</a></li>
						<li><a class="ajax-link" href="#">Search Results</a></li>
						<li><a class="ajax-link" href="#">Error 404</a></li>
						<li><a href="#">Error 500</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle">
						<i class="fa fa-map-marker"></i>
						<span class="hidden-xs">Maps</span>
					</a>
					<ul class="dropdown-menu">
						<li><a class="ajax-link" href="#">OpenStreetMap</a></li>
						<li><a class="ajax-link" href="#">Fullscreen map</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle">
						<i class="fa fa-picture-o"></i>
						 <span class="hidden-xs">Gallery</span>
					</a>
					<ul class="dropdown-menu">
						<li><a class="ajax-link" href="#">Simple Gallery</a></li>
						<li><a class="ajax-link" href="#">Flickr Gallery</a></li>
					</ul>
				</li>
				<li>
					{% if routeName ==  'users' %}
					 <a class="active-parent active" href="{{ app.urlFor("Users")}}">
					{% else %}
					<a  href="{{ app.urlFor("Users")}}">
					{% endif %}
						 <i class="fa fa-font"></i>
						 <span class="hidden-xs">Users</span>
					</a>
				</li>
				 <li>
					<a class="ajax-link" href="#">
						 <i class="fa fa-calendar"></i>
						 <span class="hidden-xs">Calendar</span>
					</a>
				 </li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle">
						<i class="fa fa-picture-o"></i>
						 <span class="hidden-xs">Multilevel menu</span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#">First level menu</a></li>
						<li><a href="#">First level menu</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle">
								<i class="fa fa-plus-square"></i>
								<span class="hidden-xs">Second level menu group</span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#">Second level menu</a></li>
								<li><a href="#">Second level menu</a></li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle">
										<i class="fa fa-plus-square"></i>
										<span class="hidden-xs">Three level menu group</span>
									</a>
									<ul class="dropdown-menu">
										<li><a href="#">Three level menu</a></li>
										<li><a href="#">Three level menu</a></li>
										<li class="dropdown">
											<a href="#" class="dropdown-toggle">
												<i class="fa fa-plus-square"></i>
												<span class="hidden-xs">Four level menu group</span>
											</a>
											<ul class="dropdown-menu">
												<li><a href="#">Four level menu</a></li>
												<li><a href="#">Four level menu</a></li>
												<li class="dropdown">
													<a href="#" class="dropdown-toggle">
														<i class="fa fa-plus-square"></i>
														<span class="hidden-xs">Five level menu group</span>
													</a>
													<ul class="dropdown-menu">
														<li><a href="#">Five level menu</a></li>
														<li><a href="#">Five level menu</a></li>
														<li class="dropdown">
															<a href="#" class="dropdown-toggle">
																<i class="fa fa-plus-square"></i>
																<span class="hidden-xs">Six level menu group</span>
															</a>
															<ul class="dropdown-menu">
																<li><a href="#">Six level menu</a></li>
																<li><a href="#">Six level menu</a></li>
															</ul>
														</li>
													</ul>
												</li>
											</ul>
										</li>
										<li><a href="#">Three level menu</a></li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<!--Start Content-->
		<div id="content" class="col-xs-12 col-sm-10">
			{% block content %}{% endblock %}
		</div>
		<!--End Content-->
	</div>
</div>
<!--End Container-->
</body>
</html>
