{% extends 'base.twig' %}

{% block script %}	
	<script type="text/javascript" src="./../resources/js/bootstrapValidator.min.js"></script>
	<script type="text/javascript" src="./../resources/js/users.js"></script>
{% endblock %}
{% block style %}
	<link rel="stylesheet" type="text/css" href="./../resources/css/bootstrapValidator.css"/>
	<link rel="stylesheet" type="text/css" href="../resources/css/user.css"/>
{% endblock %}

{% block subtitle %}- Users{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header">
				<div class="box-name">
					<i class="fa fa-user"></i>
					<span>Users</span>
				</div>
				<div class="box-icons">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a class="expand-link">
						<i class="fa fa-expand"></i>
					</a>
				</div>
				<div class="no-move"></div>
			</div>
			<div class="box-content no-padding">
		<div class="box-content" style="display: block;">
			<div class="col-sm-6">
				<div id="datatable-1_filter" class="dataTables_filter">
					<label>
                    	<button id="btn_newUser" class="btn btn-success">New User</button>
					</label>
                    <label>
						<input type="text" aria-controls="datatable-1" placeholder="Search">
					</label>
				</div>
			</div>
			<div class="col-sm-6 text-right">
				<div id="datatable-1_length" class="dataTables_length">
					<label>
						<select class="select2-offscreen" name="datatable-1_length" size="1" aria-controls="datatable-1" tabindex="-1">
							<option value="10" selected="selected">10</option>
							<option value="25">25</option>
							<option value="50">50</option>
							<option value="100">100</option>
						</select>
					</label>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	{% if users %}
		<table class="table table-bordered table-striped table-hover table-heading table-datatable" id="datatable-1">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Email</th>
					<th>Role</th>
					<th>Active</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			{% for user in users %}
				<tr id="row_{{ loop.index0 }}">
					<td id="col_userId_{{ loop.index0 }}">{{ user.userId }}</td>
					<td id="col_name_{{ loop.index0 }}"><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/carlos-slim-helu_50x50.jpg" alt="">&nbsp;{{ user.name }}&nbsp;{{ user.surname }}</td>
					<td id="col_email_{{ loop.index0 }}">{{ user.email }}</td>
					<td id="col_role_{{ loop.index0 }}">{{ user.role }}</td>
					<td id="col_isActive_{{ loop.index0 }}">{{ user.isActive }}</td>
					<td><button class="fa fa-pencil"></button></td>
					<td><button class="fa fa-times"></button></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
        <div class="box-content" style="display: block;">
			<div class="col-sm-6">
				<div id="datatable-1_info" class="dataTables_info">Showing 1 to 10 of 100 entries</div>
			</div>
			<div class="col-sm-6 text-right">
				<div class="dataTables_paginate paging_bootstrap">
					<ul class="pagination">
                    	<li class="prev disabled">
                    		<a href="#">Previous</a>
                    	</li>
                    	<li class="active">
                    		<a href="#">1</a>
                    	</li>
                    	<li>
                    		<a href="#">2</a>
                    	</li>
                    	<li>
                    		<a href="#">3</a>
                    	</li>
                    	<li>
                    		<a href="#">4</a>
                    	</li>
                    	<li>
                    		<a href="#">5</a>
                    	</li>
                    	<li class="next">
                    		<a href="#">Next → </a>
                    	</li>
                    </ul>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		</div>
		</div>
	</div>
</div>
	{% else %}
		No user found.
	{% endif %}
	
<div id="newUser_dialog" style="display: none;" >
	<form class="form-horizontal">
		<div class="form-group">
			<label class="col-lg-3 control-label">Full Name:</label>
			<div class="col-lg-4">
				<input type="text" class="form-control" id="txb_name" name="name" placeholder="First name"/>
			</div>
			<div class="col-lg-4">
				<input type="text" class="form-control" id="txb_surname" name="surname" placeholder="Last name"/>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-lg-3 control-label">Password:</label>
			<div class="col-lg-4">
				<input type="password" class="form-control" id="txb_pwd" name="pwd" placeholder="Password"/>
			</div>
			<div class="col-lg-4">
				<input type="password" class="form-control" id="txb_pwd2" name="pwd2" placeholder="Repeat your password"/>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-lg-3 control-label">Email:</label>
			<div class="col-md-6">
				<input type="email" class="form-control" id="txb_email" name="email" placeholder="Email address"/>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-lg-3 control-label">Thumbnail:</label>
			<div class="col-md-6">
				<input type="file" class="form-control" id="thumbnail" accept="image">
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-lg-3 control-label">Role:</label>
			<div class="col-lg-6">
				<select id="sel_role" class="form-control">
					<option selected="selected" value="user">User</option>
					<option value="admin">Admin</option>
					<option value="superadmin">Super Admin</option>				
				</select>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-lg-3 control-label">Is active user:</label>
			<div class="col-lg-1">
				<input checked="checked" type="checkbox" class="form-control" id="chk_isActiveUser">
			</div>
		</div>
		
		<div>
			<button style="margin-left: 35.5%;" type="submit" class="btn btn-primary ">Create User</button>
			<button type="reset" class="btn btn-danger">Reset</button>
		</div>
	</form>
</div>

{% endblock %}